<h1>Here are all the Danes</h1>

<div class="show-users">
  <% @danes.each do |dane| %>
    <div class="vivek-card">
      <p> <%= dane.danish %> </p>
      <p> <%= dane.bio %> </p>
      <p> <%= dane.first_name %> <%= dane.last_name %> </p>
    </div>
    <div class="spacer"></div>
  <% end %>
</div>

<%= paginate @danes %>
