<h1>Here is that Dane</h1>

<div class="vivek-card">
  <p> <%= @dane.danish %> </p>
  <p> <%= @dane.bio %> </p>
  <p> <%= @dane.first_name %> <%= @dane.last_name %> </p>
</div>
<% if session[:dane_id] == @dane.id %>
   <%= link_to "Edit", { controller: "danes", action: "edit", id: @dane.id }, class: "edit btn" %>
   <%= link_to "Delete", dane_path(@dane), method: :delete, data: { confirm: "Are you sure you want to delete this User?
     (All tweets associated to this user will be deleted)" }, class: "delete btn" %>
  <% end %>

<div class="spacer"></div>
<% viveks = Vivek.all.where("dane_id" == @dane.id) %>

<% viveks.each do |vivek| %>
  <div class="vivek-card">
    <p>
      <%= link_to "#{vivek.dane.danish}", dane_path(vivek.dane_id), class: "show-dane" %> |
      <%= link_to "#{vivek.body}", vivek_path(vivek.id), class: "show-vivek" %>
    </p>
    <p class="time">
      <%= vivek.time %>
    </p>
  </div>
<% end %>
