<!DOCTYPE html>
<html>
<head>
  <title>Danish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Danes", danes_path %></li>
    </ul>
    <ul class="right-hand-side">
      <% if signed_in? %>
        <li><%= link_to 'Logout', sign_out_path, method: :DELETE %></li>
      <% else %>
        <li><%= link_to "Sign up?", new_dane_path %></li>
        <li><%= link_to 'Login', sign_in_path %></li>
      <% end %>
    </ul>
  </nav>

  <% if signed_in? %>
      <div class='btn' id='show-new-tweet'> What is on your mind? </div>
      <div class="tweet-card">
        <%= form_for(Vivek.new, remote: true, :html => {:class => 'new-tweet', :id => 'new-tweet'}) do |f| %>
        <div>
          <%= f.label :tweet %>
          <%= f.text_field :body %>
        </div>
        <div>
            <%= f.submit "New Tweet", :id => 'hide-new-tweet' %>
        </div>
        <div id="tweet-apropos">
        </div>
      </div>
      <% end %>
  <% end %>

  <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, { class: "flash #{name}" }) %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
